body {
    font-family: Arial, Helvetica, sans-serif;
}

header, main {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.group-section {
    width: 24%;
    border: 1px solid black;
    text-align: center;
}

.group-info {
    border: 1px solid black;
    margin: 0 5px;
}

.round-header {
    font-style: italic;
    background-color: lightgray;
}

.round-results {
    font-family: 'Courier New', Courier, monospace;
}